Repository KuChainNetwork/kratos, pull requests merged in 2020-08, with the labels that each got.

#15 Fix Msg ValidateBase No Called By Type Receiver Error
  x/gov/handle_test.go
  x/gov/types/kumsg.go
  x/slashing/types/kumsg.go
  x/staking/handler_test.go
  x/staking/types/kumsg.go
Labels: bug

#16 Fix Test Check Failed By Coins not sorted in Test
  chain/ante/ante_test.go
  chain/ante/fee_test.go
  chain/types/account_id_test.go
  chain/types/coin.go
  chain/types/coin/coin.go
  chain/types/coin/coin_test.go
  test/simapp/test_helpers.go
  test/simapp/test_tx.go
  test/simulation/rand_util.go
  x/account/handler_test.go
  x/account/keeper/account_test.go
  x/account/keeper/keeper_test.go
  x/account/keeper/querier_test.go
  x/asset/handler_test.go
  x/asset/keeper/keeper.go
  x/asset/keeper/keeper_power.go
  x/asset/keeper/keeper_test.go
  x/asset/keeper/types.go
  x/staking/handler_test.go
  x/supply/keeper/account_test.go
Labels: bug, chain

#19 Remove some unuse code in gov module
  x/gov/client/cli/tx.go
  x/gov/govcodec/codec.go
  x/gov/handler.go
  x/gov/keeper/tally.go
  x/gov/types/codec.go
  x/gov/types/kumsg.go
Labels: chain, x/gov

#20 Fix test failed in supply account_test.go and bank_test.go
  x/supply/keeper/account_test.go
  x/supply/keeper/bank_test.go
Labels: bug

#22 Add Kuchain PRs Template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#21 Add MsgTransfer msg type for default msg to transfer token in kuchain
  chain/msg/handler.go
  chain/types/interfaces.go
  x/asset/handler.go
  x/asset/transfer_test.go
  x/asset/types/codec.go
  x/asset/types/msgs.go
Labels: chain, enhancement

#23 Fix Asset Create Error By Check Current Height
  x/asset/issue_test.go
  x/asset/types/msgs.go
Labels: bug, chain

#24 check kumsg transfer amount and data amount
  chain/types/errors.go
  x/gov/handle_test.go
  x/gov/types/kumsg.go
  x/staking/handler_test.go
  x/staking/types/kumsg.go
Labels: bug

#25 Implement `--minimum-gas-prices` param for kucd
  chain/ante/setup.go
  chain/config/fee.go
  cmd/kucd/main.go
Labels: chain

#26 Delete `ValidateBasic` function for KuMsg
  chain/msg/handler.go
  chain/types/interfaces.go
  chain/types/msg.go
  x/account/types/msgs.go
  x/asset/handler.go
  x/asset/types/msgs.go
  x/distribution/alias.go
  x/distribution/client/rest/tx.go
  x/distribution/handler.go
  x/distribution/simulation/operations.go
  x/distribution/types/codec.go
  x/distribution/types/msg.go
  x/gov/types/kumsg.go
  x/slashing/types/kumsg.go
  x/staking/types/kumsg.go
Labels: enhancement

#27 Change Issue Coins Wait Block Nums to 1000
  chain/constants/keys/params.go
Labels: bug

#28 Add Cmd and Rest Url Support for Burn Tokens Msg
  x/asset/client/cli/issue.go
  x/asset/client/cli/tx.go
  x/asset/client/rest/rest.go
  x/asset/client/rest/tx.go
  x/asset/types/msgs.go
Labels: bug, x/asset

#30 Add Coinpower Exercise Msg and Handler
  x/asset/client/cli/power.go
  x/asset/client/cli/tx.go
  x/asset/client/rest/rest.go
  x/asset/client/rest/tx.go
  x/asset/handler.go
  x/asset/keeper/keeper.go
  x/asset/keeper/keeper_power.go
  x/asset/keeper/keeper_power_test.go
  x/asset/types/codec.go
  x/asset/types/errors.go
  x/asset/types/events.go
  x/asset/types/msgs.go
Labels: chain, x/asset

#31 Add a testnet boot script by python
  .gitignore
  scripts/boot-testnet.py
Labels: scripts, test

#32 Fix Create a reward event for the proposer Cannot get validator account
  x/distribution/keeper/allocation.go
Labels: bug

#34 Add CanBurn Tag in Asset State
  x/asset/burn_test.go
  x/asset/client/cli/create.go
  x/asset/client/rest/tx.go
  x/asset/common_test.go
  x/asset/genesis.go
  x/asset/handler.go
  x/asset/handler_test.go
  x/asset/issue_test.go
  x/asset/keeper/keeper.go
  x/asset/types/coin.go
  x/asset/types/errors.go
  x/asset/types/msgs.go
  x/distribution/keeper/keeper_test.go
  x/distribution/keeper/test_common.go
Labels: x/asset

#35 Add version cmd to get build and version info for Kuchain
  Makefile
  chain/constants/versions.go
  cmd/kucd/cmd.go
  cmd/kucd/main.go
Labels: chain

#36 Delete Some Useless Codes
  x/distribution/types/msg.go
  x/params/types/proposal/types.pb.go
  x/supply/keeper/bank_test.go
  x/supply/keeper/querier_test.go
Labels: bug

#37 Merge dex module
  app/app.go
  chain/types/errors.go
  chain/types/msg.go
  x/dex/abci.go
  x/dex/alias.go
  x/dex/client/cli/query.go
  x/dex/client/cli/tx.go
  x/dex/client/rest/query.go
  x/dex/client/rest/rest.go
  x/dex/client/rest/tx.go
  x/dex/handler.go
  x/dex/keeper/keeper.go
  x/dex/keeper/keeper_dex.go
  x/dex/keeper/querier.go
  x/dex/module.go
  x/dex/types/alias.go
  x/dex/types/codec.go
  x/dex/types/dex.go
  x/dex/types/errors.go
  x/dex/types/events.go
  x/dex/types/expected_keepers.go
  x/dex/types/genesis.go
  x/dex/types/keys.go
  x/dex/types/msgs.go
  x/dex/types/querier.go
Labels: x/dex

#38 KuMsg Support Multi-Transfer
  chain/msg/handler.go
  chain/msg/msg.go
  chain/msg/msg_create.go
  chain/msg/msg_test.go
  chain/types/context.go
  chain/types/interfaces.go
  chain/types/msg.go
  plugins/db_history/chaindb/message.go
  x/account/handler.go
  x/asset/handler.go
  x/gov/types/kumsg.go
  x/staking/types/kumsg.go
Labels: chain
