Repository KuChainNetwork/kratos, pull requests merged in 2020-07, with the labels that each got.

#1 Bugs Fix By `getStat` Function
  chain/ante/fee.go
  chain/client/txutil/context.go
  chain/client/txutil/tx.go
  x/account/types/account_retriever.go
  x/asset/keeper/keeper_internal.go
Labels: bug

#2 Fix blocks per year calc
  x/mint/simulation/genesis.go
  x/mint/types/minter_test.go
  x/mint/types/params.go
Labels: bug

#4 Fix Test errors
  app/app_test.go
  chain/config/config.go
  chain/constants/gas.go
  chain/constants/keys/keys.go
  chain/constants/names.go
  chain/types/account_id_test.go
  chain/types/name_test.go
  x/mint/types/minter_test.go
  x/slashing/client/rest/tx.go
Labels: bug

#8 Add tests for Staking Module
  test/simapp/app.go
  x/staking/handler_test.go
  x/staking/keeper/common_test.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/keeper.go
  x/staking/keeper/keeper_test.go
  x/staking/keeper/pool.go
  x/staking/keeper/querier_test.go
  x/staking/keeper/slash_test.go
  x/staking/keeper/validator.go
  x/staking/keeper/validator_test.go
  x/staking/types/delegation.go
  x/staking/types/params.go
  x/staking/types/validator.go
  x/supply/keeper/bank.go
Labels: test

#10 Add Build Params for Chain Symbols
  Makefile
  chain/config/config.go
  chain/constants/gas.go
  chain/constants/keys/keys.go
  chain/constants/names.go
  scripts/boot-testnet.sh
  x/staking/exported/staking.go
Labels: chain, scripts

#9 modify distribution module keeper_test.go
  x/distribution/keeper/keeper_test.go
Labels: chain, test
